<div class="container">
 <footer class="footer">
  <small>
   copyright &copy; <a href = "https://www.google.com"> The google </a>
   by shashank sharma
  </small>
  <nav>
  	<ul>
  		<li><%= link_to "About", welcome_home_path %></li>
  	</ul>
  </nav>
 </footer>
</div>